<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Autocomplete - Remote JSONP datasource</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">


    <script src="jquery-1.12.4.js"></script>
    <script src="jquery-ui.js"></script>
    <script>
        $( function()
        {
            function log( message )
            {
                $( "<div>" ).text( message ).prependTo( "#log" );
                $( "#log" ).scrollTop( 0 );
            }

            $( "#investor" ).autocomplete(
                {
                    source: function( request, response )
                    {
                        $.ajax(
                            {
                                url: "{{ URL::to('searching_result') }}",
                                dataType: "jsonp",
                                data: {
                                    term: request.term
                                },
                                success: function( data )
                                {
                                    response( data );
                                }
                            } );
                    },
                    minLength: 2,
                    select: function( event, ui )
                    {
                        log( "Selected: " + ui.item.value + " aka " + ui.item.id );
                    }
                } );
        } );
    </script>
</head>
<body>

<div class="ui-widget">
    <label for="investor"> Investors: </label>
    <input id="investor">
</div>

<div class="ui-widget" style="margin-top:2em; font-family:Arial">
    Result:
    <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
</div>


</body>
</html>